body{
    background-color: pink;
    background-image: url("background\ picture.jpeg");
    background-repeat: no-repeat;
    background-position:right top;
    background-attachment: fixed;

}